<div class="card mb-5 mb-xl-8">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">New Arrivals</span>
      <span class="text-muted mt-1 fw-bold fs-7">Over 500 new products</span>
    </h3>
    <div class="card-toolbar">
      <a href="#" class="btn btn-sm btn-light-primary">
        <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'" class="svg-icon svg-icon-3"></span>
        New Member
      </a>
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table align-middle gs-0 gy-4">
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted bg-light">
            <th class="ps-4 min-w-325px rounded-start">Supplier</th>
            <th class="min-w-200px">Phone</th>
            <th class="min-w-200px">Email</th>
            <th class="min-w-100px">Country</th>
            <th class="min-w-100px">City</th>
            <th class="min-w-200px text-end rounded-end"></th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody *ngIf="suppliers$ | async">
          <tr *ngFor="let supplier of suppliers$ | async; let i = index;">
            <td>
              <div class="d-flex align-items-center">
                <div class="symbol symbol-50px me-5">
                  <img src="./assets/media/stock/600x400/img-26.jpg" class="" alt="" />
                </div>
                <div class="d-flex justify-content-start flex-column">
                  <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                    {{ supplier.name}}
                  </a>
                  <span class="text-muted fw-bold text-muted d-block fs-7">
                    {{ supplier.supplierId }}
                  </span>
                </div>
              </div>
            </td>
            <td>
              <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                {{ supplier.primaryPhoneNumber }}
              </a>
              <span class="text-muted fw-bold text-muted d-block fs-7"> {{ supplier.secondaryPhoneNumber }} </span>
            </td>
            <td>
              <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                {{ supplier.email }}
              </a>
              <!-- <span class="text-muted fw-bold text-muted d-block fs-7">Rejected</span> -->
            </td>
            <td>
              <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                {{ supplier.country }}
              </a>
              <!-- <span class="text-muted fw-bold text-muted d-block fs-7">Insurance</span> -->
            </td>
            <td>
              <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                {{ supplier.city }}
              </a>
              <!-- <span class="badge badge-light-primary fs-7 fw-bold">Approved</span> -->
            </td>
            <td class="text-end">
              <a href="#" class="
                btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                me-1
              ">
                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'"
                  class="svg-icon svg-icon-3"></span>
              </a>
              <a href="#" class="
                btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                me-1
              ">
                <span [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'" class="svg-icon svg-icon-3"></span>
              </a>
              <a href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                  class="svg-icon svg-icon-3"></span>
              </a>
            </td>
          </tr>
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->

</div>