<!-- Sale Orders List -->
<div class="card mb-5 mb-xl-8 w-100">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5 d-flex align-items-center justify-content-between">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Customer Orders [Sales]</span>
      <span class="text-muted mt-1 fw-bold fs-7"></span>
    </h3>
    <div class="card-toolbar d-flex align-items-center justify-content-center">
      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen021.svg'"
        class="svg-icon svg-icon-2 svg-icon-lg-1 svg-icon-gray-500 ms-0"></span>
      <form class="form-inline">
        <!--begin::Input-->
        <input type="text" #search class="form-control form-control-flush" name="search" value=""
          placeholder="Search sale orders" data-kt-search-element="input" (input)="searchSaleOrders(search.value)" />
        <!--end::Input-->
      </form>
      <a class="btn btn-sm btn-light-primary m-2" (click)="openOrderModal()">
        <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'" class="svg-icon svg-icon-3"></span>
        Order
      </a>
      <a class="btn btn-sm btn-light-danger m-2" (click)="exportToExcel()">
        <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr078.svg'" class="svg-icon svg-icon-3"></span>
        Export
      </a>
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive" style="overflow-x: auto;">
      <!-- begin::Table -->
      <table class="table align-middle gs-0 gy-4" style="min-width: 1000px;"> <!-- Set a minimum width for the table -->
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted bg-light">
            <th class="ps-4 min-w-150px rounded-start">Product</th>
            <th class="min-w-100px">Category</th>
            <th class="min-w-120px">Customer</th>
            <th class="min-w-120px">Warehouse</th>
            <th class="min-w-80px">Order Date</th>
            <th class="min-w-50px">Price</th>
            <th class="min-w-50px">Quantity</th>
            <th class="min-w-100px text-end rounded-end"></th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngFor="let saleOrder of saleOrders$ | async; let i = index;">
            <td>
              <div class="d-flex align-items-center">
                <div class="symbol symbol-50px me-5">
                  <img [src]="staticUrl + saleOrder.Product.Image1Path" class="" alt="" />
                </div>
                <div class="d-flex justify-content-start flex-column">
                  <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                    {{ saleOrder.Product.Name }}
                  </a>
                  <span class="text-muted fw-bold text-muted d-block fs-7">
                    {{ saleOrder.Product.ProductId }}
                  </span>
                </div>
              </div>
            </td>
            <td>
              <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                {{ saleOrder.Product.Category.Name }}
              </a>
              <!-- <span class="text-muted fw-bold text-muted d-block fs-7"></span> -->
            </td>
            <td>
              <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                {{ saleOrder.Customer.Name }}
              </a>
              <!-- <span class="text-muted fw-bold text-muted d-block fs-7"></span> -->
            </td>
            <td>
              <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                {{ saleOrder.Warehouse.Name }}
              </a>
              <!-- <span class="text-muted fw-bold text-muted d-block fs-7"></span> -->
            </td>
            <td>
              <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                {{ saleOrder.OrderDate.toLocaleString() | date: 'medium'}}
              </a>
              <!-- <span class="text-muted fw-bold text-muted d-block fs-7">
                Delivery: {{ supplyOrder.DeliveryDate.toLocaleString() | date: 'longDate' }}
              </span> -->
            </td>
            <!-- <td>
              <span class="badge fs-7 fw-bold"
                [ngClass]="supplyOrder.IsDelivered ? 'badge-light-success' : 'badge-light-danger'">
                {{ supplyOrder.IsDelivered ? 'Delivered' : 'Pending' }}
              </span>
            </td> -->
            <td>
              <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                {{ saleOrder.Price | currency: 'ETB ' }}
              </a>
            </td>
            <td>
              <span class="badge fs-7 fw-bold badge-light-success">
                {{ saleOrder.Quantity }}
              </span>
            </td>
            <td class="text-end">
              <!-- <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'"
                  class="svg-icon svg-icon-3"></span>
              </a> -->
              <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
                (click)="deleteSaleOrder(saleOrder.SaleOrderId)">
                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                  class="svg-icon svg-icon-3"></span>
              </a>
            </td>
          </tr>
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->
</div>

<!-- Pagination -->
<div class="d-flex flex-stack flex-wrap pt-10" *ngIf="totalCount$ | async as totalCount">
  <div class="fs-6 fw-bold text-gray-700 m-auto">Showing {{ ((page - 1) * perPage) + 1 }} to {{ (page) * perPage }} of
    {{ totalCount }} {{ search.value ? 'search results' : 'entries ' }}</div>

  <ul class="pagination m-auto">
    <li class="page-item previous" *ngIf="page - 1 > 0">
      <a class="page-link cursor-pointer" (click)="updatePage(1, perPage, search.value)">
        <i class="previous"></i>
      </a>
    </li>
    <li class="page-item" *ngIf="page - 2 > 0">
      <a class="page-link cursor-pointer" (click)="updatePage(page - 2, perPage, search.value)">{{ page - 2 }}</a>
    </li>
    <li class="page-item" *ngIf="page - 1 > 0">
      <a class="page-link cursor-pointer" (click)="updatePage(page - 1, perPage, search.value)">{{ page - 1 }}</a>
    </li>
    <li class="page-item active">
      <a class="page-link cursor-pointer"> {{ page }} </a>
    </li>
    <li class="page-item" *ngIf="page < totalCount / perPage">
      <a class="page-link cursor-pointer" (click)="updatePage(page + 1, perPage, search.value)">{{ page + 1 }}</a>
    </li>
    <li class="page-item" *ngIf="page < totalCount / perPage - 1">
      <a class="page-link cursor-pointer" (click)="updatePage(page + 2, perPage, search.value)">{{ page + 2 }}</a>
    </li>
    <li class="page-item next" *ngIf="page < totalCount / perPage">
      <a class="page-link cursor-pointer" (click)="updatePage(totalCount / perPage, perPage, search.value)">
        <i class="next"></i>
      </a>
    </li>
  </ul>
</div>

<!-- Order Nodal -->
<app-modal #orderModal [modalConfig]="orderModalConfig">
  <form [formGroup]="addSaleOrderForm" (ngSubmit)="addSaleOrder()">
    <div class="row g-10 mb-6">
      <div class="form-group col-md-6 col-sm-12">
        <label for="product" class="h6">Product</label>
        <ng-select formControlName="ProductId" placeholder="Select Product" [virtualScroll]="true">
          <ng-option *ngFor="let product of products$ | async" [value]="product.ProductId">
            {{ product.Name }}
          </ng-option>
        </ng-select>
        <span class="text-danger">
          {{ validateOrderForm("ProductId") }}
        </span>
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="customer" class="h6">Customer</label>
        <ng-select formControlName="CustomerId" placeholder="Select Customer" [virtualScroll]="true">
          <ng-option *ngFor="let customer of customers$ | async" [value]="customer.CustomerId">
            {{ customer.Name }}
          </ng-option>
        </ng-select>
        <span class="text-danger">
          {{ validateOrderForm("CustomerId") }}
        </span>
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="warehouse" class="h6">Warehouse</label>
        <ng-select formControlName="WarehouseId" placeholder="Select Warehouse" [virtualScroll]="true">
          <ng-option *ngFor="let warehouse of warehouses$ | async" [value]="warehouse.WarehouseId">
            {{ warehouse.Name }}
          </ng-option>
        </ng-select>
        <span class="text-danger">
          {{ validateOrderForm("WarehouseId") }}
        </span>
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="quantity" class="h6">Quantity</label>
        <input type="number" formControlName="Quantity" class="form-control" id="quantity"
          placeholder="Enter Quantity" />
        <span class="text-danger">
          {{ validateOrderForm("Quantity") }}
        </span>
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="price" class="h6">Price</label>
        <input type="number" formControlName="Price" class="form-control" id="price" placeholder="Enter Price" />
        <span class="text-danger">
          {{ validateOrderForm("Price") }}
        </span>
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="orderDate" class="h6">Order Date</label>
        <input type="date" formControlName="OrderDate" class="form-control" id="orderDate" />
        <span class="text-danger">
          {{ validateOrderForm("OrderDate") }}
        </span>
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="deliveryAddress" class="h6">Delivery Address</label>
        <input type="text" formControlName="DeliveryAddress" class="form-control" id="deliveryAddress"
          placeholder="Enter Delivery Address" />
        <span class="text-danger">
          {{ validateOrderForm("DeliveryAddress") }}
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="closeOrderModal()">Close</button>
      <button type="submit" class="btn" [disabled]="!addSaleOrderForm.valid"
        [ngClass]="!addSaleOrderForm.valid ? 'btn-outline-primary' : 'btn-primary'">Add</button>
    </div>
  </form>
</app-modal>