<!-- CARDS -->
<div class="row g-5 g-xl-8" *ngIf="dashboardData$ | async as data">
  <div class="col-xl-3">
    <app-stats-widget5 svgIcon="./assets/media/icons/duotune/general/gen032.svg"
      class="card bg-body hoverable card-xl-stretch mb-xl-8" color="white" iconColor="primary"
      [title]="'ETB ' + data.InventoryValue.toLocaleString()" description="Total Inventory Value"></app-stats-widget5>
  </div>

  <div class="col-xl-3">
    <app-stats-widget5 svgIcon="./assets/media/icons/duotune/ecommerce/ecm008.svg"
      class="card bg-info hoverable card-xl-stretch mb-xl-8" color="info" iconColor="white"
      [title]="data.TotalCustomers.toString()" description="Total Customers"></app-stats-widget5>
  </div>

  <div class="col-xl-3">
    <app-stats-widget5 svgIcon="./assets/media/icons/duotune/finance/fin006.svg"
      class="card bg-danger hoverable card-xl-stretch mb-xl-8" color="danger" iconColor="white"
      [title]="data.TotalProducts.toString()" description="Total Products"></app-stats-widget5>
  </div>

  <div class="col-xl-3">
    <app-stats-widget5 svgIcon="./assets/media/icons/duotune/graphs/gra007.svg"
      class="card bg-dark hoverable card-xl-stretch mb-5 mb-xl-8" color="info" iconColor="white"
      [title]="data.TotalSuppliers.toString()" description="Total Suppliers"></app-stats-widget5>
  </div>
</div>

<!-- begin::Row -->
<div class="row gy-5 g-xl-8" *ngIf="dashboardData$ | async as data">
  <div class="col-xxl-4">
    <app-mixed-widget2 class="card card-xl-stretch mb-xl-8" chartColor="danger" chartHeight="200px"
      strokeColor="#cb1e46"></app-mixed-widget2>
  </div>

  <!-- ORDERS TIMELINE -->
  <div class="col-xxl-4">
    <!-- <app-lists-widget5 class="card card-xxl-stretch"></app-lists-widget5> -->

    <div class="card card-xxl-stretch">
      <!-- begin::Header-->
      <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
          <span class="fw-bolder mb-2 text-dark">Supply Timeline</span>
          <span class="text-muted fw-bold fs-7">Supply order and delivery logs</span>
        </h3>
        <div class="card-toolbar">
          <!-- begin::Menu-->
          <button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
            data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
            <span [inlineSVG]="'./assets/media/icons/duotune/general/gen024.svg'" class="svg-icon svg-icon-2"></span>
          </button>
          <!-- <app-dropdown-menu1></app-dropdown-menu1> -->
          <!-- end::Menu-->
        </div>
      </div>
      <!-- end::Header-->
      <!-- begin::Body-->
      <div class="card-body pt-5">
        <!-- begin::Timeline-->
        <div class="timeline-label">
          <!-- begin::Item-->
          <div class="timeline-item" *ngFor="let supplylog of data.SupplyTimeline">
            <!-- begin::Label-->
            <div class="timeline-label fw-bolder text-gray-800 fs-6">{{ supplylog.DateTime | date: 'HH:MM' }}</div>
            <!-- end::Label-->
            <!-- begin::Badge-->
            <div class="timeline-badge">
              <i class="fa fa-genderless fs-1"
                [ngClass]="supplylog.Status == 'Ordered' ? 'text-danger' : 'text-primary'"></i>
            </div>
            <!-- end::Badge-->
            <!-- begin::Desc-->
            <div class="timeline-content fw-bold text-gray-800 ps-3">
              {{ supplylog.Status == "Ordered" ? 'New order placed' : 'Order delivered'}}
              <a href="#" class="text-primary">#{{ supplylog.SupplyOrder.SupplyOrderId }}</a>
            </div>
            <!-- end::Desc-->
          </div>
          <!-- end::Item-->
        </div>
        <!-- end::Timeline-->
      </div>
      <!-- end: Card Body-->
    </div>
  </div>

  <div class="col-xxl-4">
    <app-mixed-widget10 class="card card-xxl-stretch-50 mb-5 mb-xl-8" chartColor="primary" chartHeight="150px">
    </app-mixed-widget10>
    <app-mixed-widget11 class="card card-xxl-stretch-50 mb-5 mb-xl-8" chartColor="primary" chartHeight="175px">
    </app-mixed-widget11>
  </div>
</div>
<!-- end::Row -->


<!-- begin::Row -->
<div class="row gy-5 gx-xl-8" *ngIf="dashboardData$ | async as data">
  <!-- LOW STOCK ALERT -->
  <div class="col-xxl-4">
    <!-- <app-lists-widget3 class="card card-xxl-stretch mb-xl-3"></app-lists-widget3> -->
    <div class="card card-xxl-stretch mb-xl-3">
      <!-- begin::Header -->
      <div class="card-header border-0">
        <h3 class="card-title fw-bolder text-dark">Low Inventory Stocks</h3>
        <div class="card-toolbar">
          <!-- begin::Menu -->
          <button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
            data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
            <span [inlineSVG]="'./assets/media/icons/duotune/general/gen024.svg'" class="svg-icon svg-icon-2"></span>
          </button>
          <app-dropdown-menu1></app-dropdown-menu1>
          <!-- end::Menu -->
        </div>
      </div>
      <!-- end::Header -->
      <!-- begin::Body -->
      <div class="card-body pt-2">
        <!-- begin::Item -->
        <div class="d-flex align-items-center mb-8" *ngFor="let stock of data.LowStocks">
          <!-- begin::Bullet -->
          <span class="bullet bullet-vertical h-40px" [ngClass]="{
            'bg-danger': +(((stock.StockQuantity * stock.QuantityPerUnit) / stock.LowStockThreshold).toFixed(2)) < 0.5,
            'bg-warning': +(((stock.StockQuantity * stock.QuantityPerUnit) / stock.LowStockThreshold).toFixed(2)) > 0.5
            }"></span>
          <!-- end::Bullet -->
          <!-- begin::Checkbox -->
          <!-- <div class="form-check form-check-custom form-check-solid mx-5">
            <input class="form-check-input" type="checkbox" value="" />
          </div> -->
          <div class="symbol symbol-45px mx-3">
            <img [src]="staticUrl + stock.Product.ImagePaths[0]" alt="" />
          </div>
          <!-- end::Checkbox -->
          <!-- begin::Description -->
          <div class="flex-grow-1">
            <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
              {{ stock.Product.Name }}
            </a>
            <span class="text-muted fw-bold d-block">Available: {{ stock.StockQuantity }} * {{ stock.QuantityPerUnit
              }}</span>
            <span class="text-muted fw-bold d-block">{{ stock.Warehouse.Name }}</span>
          </div>
          <div class="d-flex flex-column me-2">
            <div class="d-flex flex-stack mb-2">
              <span class="text-muted me-2 fs-7 fw-bold">
                {{ (((stock.StockQuantity * stock.QuantityPerUnit) / stock.LowStockThreshold) * 100).toFixed(0) }}%
              </span>
            </div>
            <div class="progress h-6px w-100">
              <div class="progress-bar" role="progressbar" [style.width]="'50%'" [ngClass]="{
                'bg-warning': +(((stock.StockQuantity * stock.QuantityPerUnit) / stock.LowStockThreshold).toFixed(2)) > 0.5,
                'bg-danger': +(((stock.StockQuantity * stock.QuantityPerUnit) / stock.LowStockThreshold).toFixed(2)) < 0.5
                }"></div>
            </div>
          </div>

        </div>
        <!-- end:Item -->
      </div>
      <!-- end::Body -->
    </div>
  </div>

  <!-- TOP PRODUCTS -->
  <div class=" col-xl-8">
    <!-- <app-tables-widget10 class="card card-xxl-stretch mb-5 mb-xl-8"></app-tables-widget10> -->
    <div class="card card-xxl-stretch mb-5 mb-xl-8">
      <!-- begin::Header -->

      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder fs-3 mb-1">Top-selling Products</span>
          <span class="text-muted mt-1 fw-bold fs-7">Products with most total sales value</span>
        </h3>
        <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
          title="Click to add a user">
          <a href="#" class="btn btn-sm btn-light-primary">
            <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'" class="svg-icon svg-icon-3"></span>
            New Member
          </a>
        </div>
      </div>
      <!-- end::Header -->
      <!-- begin::Body -->
      <div class="card-body py-3">
        <!-- begin::Table container -->
        <div class="table-responsive">
          <!-- begin::Table -->
          <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
            <!-- begin::Table head -->
            <thead>
              <tr class="fw-bolder text-muted">
                <th class="w-25px">
                  <div class="
                form-check form-check-sm form-check-custom form-check-solid
              ">
                    <input class="form-check-input" type="checkbox" value="1" data-kt-check="true"
                      data-kt-check-target=".widget-9-check" />
                  </div>
                </th>
                <th class="min-w-150px">Product</th>
                <th class="min-w-140px">Category</th>
                <th class="min-w-120px">Price</th>
                <th class="min-w-100px">Total Sales</th>
              </tr>
            </thead>
            <!-- end::Table head -->
            <!-- begin::Table body -->
            <tbody>
              <tr *ngFor="let topProduct of data.TopProducts">
                <td>
                  <div class="
                form-check form-check-sm form-check-custom form-check-solid
              ">
                    <input class="form-check-input widget-9-check" type="checkbox" value="1" />
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="symbol symbol-45px me-5">
                      <img [src]="staticUrl + topProduct.Product.ImagePaths[0]" alt="" />
                    </div>
                    <div class="d-flex justify-content-start flex-column">
                      <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
                        {{ topProduct.Product.Name }}
                      </a>
                      <span class="text-muted fw-bold text-muted d-block fs-7">
                        {{ topProduct.Product.ProductId }}
                      </span>
                    </div>
                  </div>
                </td>
                <td>
                  <a href="#" class="text-dark fw-bolder text-hover-primary d-block fs-6">
                    {{ topProduct.Product.Category.Name }}
                  </a>
                  <span class="text-muted fw-bold text-muted d-block fs-7">
                    <!-- {{ topProduct.Product.ProductId }} -->
                  </span>
                </td>
                <td>
                  <a href="#" class="text-dark fw-bolder text-hover-primary d-block fs-6">
                    <span class="badge badge-light-primary fs-8 fw-bolder">ETB</span>
                    {{ topProduct.Product.Price.toLocaleString() }}
                  </a>
                  <span class="text-muted fw-bold text-muted d-block fs-7">
                    <!-- Total Quantity -->
                  </span>
                </td>
                <td>
                  <a href="#" class="text-dark fw-bolder text-hover-primary d-block fs-6">
                    <span class="badge badge-light-primary fs-8 fw-bolder">ETB</span>
                    {{ topProduct.TotalSalesAmount.toLocaleString() }}
                  </a>
                  <span class="text-muted fw-bold text-muted d-block fs-7">
                    <!-- Total Quantity -->
                  </span>
                </td>
              </tr>
            </tbody>
            <!-- end::Table body -->
          </table>
          <!-- end::Table -->
        </div>
        <!-- end::Table container -->
      </div>
      <!-- begin::Body -->
    </div>
  </div>
</div>
<!-- end::Row -->

<!-- begin::Row -->
<div class="row gy-5 g-xl-8" *ngIf="dashboardData$ | async as data">
  <!-- TOP CUSTOMERS -->
  <div class="col-xl-4">
    <div class="card card-xl-stretch mb-xl-8 mb-5">
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder text-dark">Top Customers</span>
          <span class="text-muted mt-1 fw-bold fs-7">Customers with most total sales value</span>
        </h3>
        <div class="card-toolbar">
          <button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
            data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
            <span [inlineSVG]="'./assets/media/icons/duotune/general/gen024.svg'" class="svg-icon svg-icon-2"></span>
          </button>
        </div>
      </div>
      <div class="card-body pt-5">
        <div class="d-flex align-items-sm-center mb-7" *ngFor="let topCustomer of data.TopCustomers">
          <div class="symbol symbol-50px me-5">
            <span class="symbol-label">
              <img [src]="staticUrl + topCustomer.Customer.LogoPath" class="h-50 align-self-center" alt="" />
            </span>
          </div>
          <div class="d-flex align-items-center flex-row-fluid flex-wrap">
            <div class="flex-grow-1 me-2">
              <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">{{ topCustomer.Customer.Name }}</a>
              <span class="text-muted fw-bold d-block fs-7">{{ topCustomer.Customer.Email }}</span>
            </div>
            <span class="badge badge-light fw-bolder my-2" style="flex-shrink: 0;">
              <span class="badge badge-light-info fs-8 fw-bolder">ETB</span>
              {{ topCustomer.TotalSalesAmount.toLocaleString() }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- TOP SUPPLIERS -->
  <div class="col-xl-4">
    <div class="card card-xl-stretch mb-xl-8 mb-5">
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder text-dark">Top Suppliers</span>
          <span class="text-muted mt-1 fw-bold fs-7">Suppliers with the most supply value</span>
        </h3>
        <div class="card-toolbar">
          <button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
            data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
            <span [inlineSVG]="'./assets/media/icons/duotune/general/gen024.svg'" class="svg-icon svg-icon-2"></span>
          </button>
          <app-dropdown-menu1></app-dropdown-menu1>
        </div>
      </div>
      <div class="card-body pt-5">
        <div class="d-flex align-items-sm-center mb-7" *ngFor="let topSupplier of data.TopSuppliers">
          <div class="symbol symbol-50px me-5">
            <span class="symbol-label">
              <img [src]="staticUrl + topSupplier.Supplier.LogoPath" class="h-50 align-self-center" alt="" />
            </span>
          </div>
          <div class="d-flex align-items-center flex-row-fluid flex-wrap">
            <div class="flex-grow-1 me-2">
              <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">{{ topSupplier.Supplier.Name }}</a>
              <span class="text-muted fw-bold d-block fs-7">{{ topSupplier.Supplier.Country + ', ' +
                topSupplier.Supplier.City}}</span>
            </div>
            <span class="badge badge-light fw-bolder my-2" style="flex-shrink: 0;">
              <span class="badge badge-light-info fs-8 fw-bolder">ETB</span>
              {{ topSupplier.TotalSuppliesAmount.toLocaleString() }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- RECENT SUPPLY ORDERS -->
  <div class="col-xxl-4">
    <!-- <app-lists-widget3 class="card card-xxl-stretch mb-xl-3"></app-lists-widget3> -->
    <div class="card card-xxl-stretch mb-xl-3">
      <!-- begin::Header -->
      <div class="card-header border-0">
        <h3 class="card-title fw-bolder text-dark">Recent Supply Orders</h3>
        <div class="card-toolbar">
          <!-- begin::Menu -->
          <button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
            data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
            <span [inlineSVG]="'./assets/media/icons/duotune/general/gen024.svg'" class="svg-icon svg-icon-2"></span>
          </button>
          <!-- <app-dropdown-menu1></app-dropdown-menu1> -->
          <!-- end::Menu -->
        </div>
      </div>
      <!-- end::Header -->
      <!-- begin::Body -->
      <div class="card-body pt-2">
        <!-- begin::Item -->
        <div class="d-flex align-items-center mb-8" *ngFor="let supplyOrder of data.RecentSupplyOrders">
          <!-- begin::Bullet -->
          <span class="bullet bullet-vertical h-40px bg-success"></span>
          <!-- end::Bullet -->
          <!-- begin::Checkbox -->
          <div class="form-check form-check-custom form-check-solid mx-5">
            <input class="form-check-input" type="checkbox" value="" />
          </div>
          <!-- end::Checkbox -->
          <!-- begin::Description -->
          <div class="flex-grow-1">
            <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
              {{ supplyOrder.Supply.Product.Name }}
            </a>
            <span class="text-muted fw-bold d-block">To: {{ supplyOrder.Warehouse.Name }}</span>
            <span class="text-muted fw-bold d-block">
              {{ 'Delivery on: ' + (supplyOrder.DeliveryDate | date: 'shortDate')}}
            </span>
          </div>
          <!-- end::Description -->
          <!-- <span class="badge badge-light-success fs-8 fw-bolder">New</span> -->
          <!-- <div class="flex-grow-1">
            <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
              Quantity: {{ supplyOrder.Quantity }}
            </a>
            <span class="text-muted fw-bold d-block">Delivery on {{ supplyOrder.DeliveryDate | date: 'shortDate'
              }}</span>
          </div> -->
        </div>
        <!-- end:Item -->
      </div>
      <!-- end::Body -->
    </div>
  </div>
</div>
<!-- end::Row -->